.cialo{
    margin: 0;
    background-image: url(img/tlo.jpg);
    font-family: Arial;
    
}
img{
    width: 50%;
}
h1{
    text-align: center;
    color: white;
    animation-name: animacja2;
    animation-duration: 3s;
    font-size: 50px;
    
}
.rolnik{
    position: absolute;
    left: 220px;
    top: 300px;
    margin: 50px;
    
}
.wprowadzenie{
    position: absolute;
    width: 550px;
    margin-bottom: -10px;
    border-style: solid;
    top: 200px;
    left: 680px;
    
    color: #FFD700;
    text-indent: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}
.div3{
    border-style: solid;
 position: absolute;
 left: 740px;
 top: 630px;
width:400px;
border-radius: 30px;
padding:20px;
text-align: center;
background-color:brown;
font-weight: bold;
border-width: 0px;
   
}
@keyframes animacja1 {
    from{
        transform: translate(0px,400px);
    }
    to{
        transform: translate(0px,0px);
    }
}
@keyframes animacja2 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
.rolnik :hover{
    transform: scale(0.8);

}
.przycisk{
    position: absolute;
    top: 600px;
    right: 900px;
    background-color:antiquewhite;
    border-color: antiquewhite;
    color: black;
    border-radius: 10px;
}
.kombajn :hover{
    transform: scale(0.8);
}
.kombajn{
   position: absolute;
   left: 1300px;
   top: 620px;

   
}
.wiecej{
    position: absolute;
    top: 600px;
    left: 710px;
    float: left;
}
#strona_dodatkowa{
    background-image: url(img/tlo.jpg);
}
.kuku :hover{
    transform: scale(0.8);
}
.kuku{
   position: absolute;
   left: 330px;
   top: 570px;
   margin: 50px;
}
.stopka{
    width: 100%;
    background-color: #6F7302;
    clear: both;
    position: absolute;
    top: 854px;
    height: 104px;
}
.div_nastepny{
    width: 900px;
    background-color:goldenrod;
    height: 900px;
    position: absolute;
    z-index: -1;
    left: 504px;
    top: 10px;
    border-radius: 10%;
}
.strona6{
    background-color:seagreen;
}
.pole{
    position: absolute;
    top: 610px;
    left: 650px;
    margin: 50px;

}
.pole  :hover{
    transform: scale(0.8);
}
.pig{
    position: absolute;
    top: 380px;
   left: 800px;
   margin: 50px;
}
.pig :hover{
    transform: scale(0.8);
}  
.zagroda{
    margin: 50px;
   position: absolute;
   top: 600px;
   left: 950px;
   margin: 50px;

}
.zagroda :hover{
    transform: scale(0.8);
}

.h1_inne{
    text-align: center;
    color: white;
    animation-name: animacja4;
    animation-duration: 3s;
    font-size: 50px;
}
@keyframes animacja4 {
    0%{
        transform: translate(-400px,0px);
    }
    50%{
        transform: translate(400px,0px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

.szczegoly{
   position: absolute;
   top: 440px;
   left: 1400px;
}
.szczegoly:hover{
    transform: scale(0.8);
}
table {
    margin-left: 500px;
    border-collapse: collapse;
   
}
table, th, td {
    border: 1px solid black;

}
.tlo{
    width: 900px;
    background-color:#77B3D9;
    height: 900px;
    position: absolute;
    z-index: -1;
    left: 504px;
    top: 10px;
    border-radius: 10%;

}
.tlo2{
    width: 900px;
    background-color:darkolivegreen;
    height: 900px;
    position: absolute;
    z-index: -1;
    left: 504px;
    top: 10px;
    border-radius: 10%;
}
th, td {
    padding: 8px;
    text-align: left;
    width: 200px;

    
}
th{
    background-color: mediumaquamarine;
}
td{
    background-color: olive;
    font-size: large;
    color:pink;
}
body {
    margin: 10px;
    
}
.div1{
border-style: solid;
 position: absolute;
 left: 40px;
 top: 200px;
width:400px;
border-radius: 30px;
padding:20px;
text-align: center;
background-color:chartreuse;
font-weight: bold;
border-width: 0px;

}
.div5{
    border-style: solid;
 position: absolute;
 left: 40px;
 top: 400px;
width:400px;
border-radius: 30px;
padding:20px;
text-align: center;
background-color:chocolate;
font-weight: bold;
border-width: 0px;
}

.div2{
    border-style: solid;
 position: absolute;
 left: 1420px;
 top: 280px;
width:400px;
border-radius: 30px;
padding:20px;
text-align: center;
background-color:brown;
font-weight: bold;
border-width: 0px;
}
.dodawanie{
    border-style: solid;
    border-radius: 12px;
    background-color: forestgreen;
    border-color: forestgreen;
    margin-right: 20px;
    color: crimson;
}
.dodawanie2{
    border-style: solid;
    border-radius: 12px;
    background-color: #F6D55C;
    border-color:#F6D55C;
    margin-right: 20px;
    color:cadetblue;
}
.odejmowanie{
    border-style: solid;
    border-radius: 12px;
    background-color:rgb(228, 39, 39) ;
    border-width: 0px;
    margin-right: 20px;
    color:gold;
}
.przycisk2{
    background-color: rgb(190, 100, 25);
    border-radius: 10px;
    width: 80px;
    margin-top: 10px;
    height: 30px;
    border-width: 0px;
}
.przycisk3{
    background-color: rgb(190, 100, 25);
    border-radius: 10px;
    border-width: 0px;
    width: 70px;
    height: 30px;
}
.label_2{
    background-color: lightsalmon;
    padding: 5px;
    color:maroon;
    border-radius: 20px;
    width: 80%;
    margin-left: 30px;
}
.przycisk1{
    background-color: yellow;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    border-width: 0px;
}
.label{
    background-color: lightgreen;
    padding: 1px;
    color: brown;
    border-radius: 20px;
    width: 80%;
    margin-left: 30px;
}
.strona3{
    background-color:chocolate;
}
.przycisk4{
    position: absolute;
    top: 595px;
    right: 900px; 
    border-radius: 10px;
    border-width: 0px;
    background-color:chartreuse;

}
.strona5{
    background-color:olive;
}
.div_kolejny{
    width: 900px;
    background-color:darkslategrey;
    height: 900px;
    position: absolute;
    z-index: -1;
    left: 504px;
    top: 10px;
    border-radius: 10%;
}
.div6{
    border-style: solid;
    position: absolute;
    left: 600px;
    top: 630px;
   width:300px;
   border-radius: 30px;
   padding:20px;
   text-align: center;
   background-color:chartreuse;
   font-weight: bold;
   border-width: 0px;
}
.div7{
    border-style: solid;
    position: absolute;
    left: 970px;
    top: 660px;
   width:300px;
   border-radius: 30px;
   padding:20px;
   text-align: center;
   background-color:brown;
   font-weight: bold;
   border-width: 0px;
}
.przycisk5{
    position: absolute;
    top: 400px;
    right: 905px; 
    border-radius: 10px;
    border-width: 0px;
    background-color:chartreuse;
}
.przycisk6{
    position: absolute;
    top: 600px;
    right: 900px; 
    border-radius: 10px;
    border-width: 0px;
    background-color:cornsilk;
}
.div4{
    border-style: solid;
    position: absolute;
    left: 740px;
    top: 620px;
   width:400px;
   border-radius: 30px;
   padding:20px;
   text-align: center;
   background-color:brown;
   font-weight: bold;
   border-width: 0px;
}
.strona1{
    background-color: royalblue;
}
.strona2{
    background-color:darkcyan;
}
iframe {
    width: 80%; 
    height: 450px;
    margin-top: 20px;
  
    
}
header{
    width: auto;
    background-color: #6F7302;
    padding: 10px;
}
.sidenav {
    
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6F7302;
    overflow-x: hidden;	
    padding-top: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidenav a {
    padding: 6px 8px 8px 30px;
    text-decoration: none;
    font-size: 23px;
    color: #77B3D9;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidenav a:hover {
    color: #F6D55C;
    font-size: 25px;
}